language: node_js
node_js:
  - "8"
  - "9"
  - "10"

env:
  - WEBPACK_VERSION=4 HTML_PLUGIN_VERSION=3
  - WEBPACK_VERSION=4 HTML_PLUGIN_VERSION=next

install: 
  - npm install
  - npm install -D webpack@$WEBPACK_VERSION || true
  - npm install -D html-webpack-plugin@$HTML_PLUGIN_VERSION || true

script: 
  - npm test
  - npm run build

deploy:
  skip_cleanup: true
  on:
    repo: steadyapp/html-webpack-link-type-plugin
    node: "8"
    tags: true
    branch: master
    if: env(WEBPACK_VERSION)=4 AND env(HTML_PLUGIN_VERSION)=3
  provider: npm
  email: "opensource@steadyapp.com"
  api_key: 
    secure: "HMuh0yxeUoz3xbwBdB0+PbMfYhVt3jY8TuaNQAdp59KVR+TaT9X2gGz/CgI6e2t84t7VN9vPKCnXbGnk0XZE1MmNAAnWnTnxbQS+jmtgKEs5EAZyte3rMO2REqUm2BdkEcjTd2pyFfweMvHYyEoq3qlcWa6aQv+jRgsQ5xMAQGUL0DGvoas/Esl3mjDt9sEqfHya9hbDr+gE/olLgv4MKH5aJOBZv28Pdk6j/vyOw/Y135BqxKMx4w7VdQ1cstj07BUTIdcw4/Yv1Wpsb9+cRdZ7M0aeg+ylgxsYDcG87zDMLt/CQHd2LENj7cMVq7WhKCRIU/vQxWJV9gquHJg5bnjyA1BgOtuer1kZPn2Sqw1LHhZr9o69dDZpKjfIrVt+zGYu1f1ucn0DHF0phe0Mnm5H9jNHcK0hgRy5jHE/ujrnQXTKqLBUKsxGhxkEHJNiFvBnj6n+T447tpjVMtUd6lEey2IgcMnCjqHZSNQLN3u4/zfABWBVuHdCs1RM3/cXirMx5Nmq4o9EfAHel6qYrSgQZgDHJxZwhihbm/wvauafMoW1F7MWHypJQtTkXVWXdkDPcxrz8Bb6eQ+Q0qplhiHFZQTITHfhTd8uwWv2F/h7CrpXx4a7/8kLcJeeMDRlREltaN7Xia7h3RpP0GYsHx5rXmmdWBNzdUYqNYFzlJs="

notifications:
  slack:
    secure: OOLUTuVUTYbY0D+Rq+LlYJsGx1LuN4YTKZFdo3bpCm/rhTkhkjDGbIXdw2IAjYtET6uW/97TNjjkj7B4sKpWi4JfuYm0EfruSkQZzwO0/nYDHQh1gkgY+wzNPkFho7MiXucbwj8kQMJkPgdJc/C8SQljK6c27kbL+82esKd8KBI+j7SoUJQkQBWScmRw/9/maHTdUQjbWHxAieDl+agFdJM47qJCVVuyoceKvw+w0ntDo76s5wm79QBoI9ykNNuA555GLQM/p5B1ZmEgl86nC55WeM0GYBqioj6XXXLtGfSeoTcfOH6DOXpR7d+WAWIQLFCseKk0ioZd8FWZjjfWMGcFPymFKcGGF6rIRnBv9rOVTFArd2TL7MN5H1CJeMi0RgavX4FKwTjW4HdtSUZxmssvTPXPJnUrpJUpqVsSyfjyQak0k/zufQWrb8zlFBvUhl5+qvDfAnKhLLE8nOrHxA2ifA82/NZkEjfZd74x7ONi42zIltRp5D9SZmgb2F9vCbqXFjTtD8Mh5y5r3BLizNLoa+UlqeQdTm0tjzTvxs2gGtHMe5kUr9tqovPPRt14mEg/yGzt/dmNz8KPPgOrPq3Urk3R8fUUsHPQYLyEKp4jhcVY8jVUYADCaI7Cp8vd2IJrNMwRqVPoCzawz3tkb2ySzmr/5gyDvBnCnA0KYiE=